<!DOCTYPE html>
<html ng-app="radarApp">
	<head>
    	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  		<title>Radar chart</title>

		<link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="./node_modules/angular-bootstrap-colorpicker/css/colorpicker.min.css" rel="stylesheet">
		<style>
			body {
				font-family: Helvetica, sans-serif;
				cursor: default;
			}

			html, body, #body {
				height:100%;
				width: 100%;
			}

			.mainCatTitle {
				font-family: Arial, sans-serif;
			}

			div.tooltip {	
			    position: absolute;			
			    text-align: center;				
			    padding: 5px 8px;	
			    border: 1px solid;		
			    border-radius: 4px;			
			    pointer-events: none;
			    background: white;
			}

			input[type="number"] {
				width: 65px !important;
			}

			ul {
				list-style: none;
			}

			#config-table {
				max-width: 700px;
			}

			#config-container {
				height:100%;
				padding: 5px;
				overflow: scroll;
				border-right: 2px dashed lightgray;
			}
		</style>
  </head>
  <body>
    <div id="body" ng-controller="MainCtrl as m">
		<div class="pull-left" id="config-container">
			<div>
				TODO: Circles (colors, widths, types, heights respecting center dot?), <br />Extra averages and dots?, Dot colors?, Popups an den Dots? Legende!<br/>
				Load Excel sheet: <input type="file" custom-on-change="m.handleFile" />

				<div ng-hide="m.workbook === undefined" class="form-inline">
					<select ng-options="s as s for s in m.workbook.SheetNames" ng-model="sheetname" class="form-control input-sm"></select>
					<input type="number" ng-model="offset.col" class="form-control input-sm" />
					<input type="number" ng-model="offset.row" class="form-control input-sm" />
					<button ng-click="m.parseFile(sheetname, offset.col, offset.row)" class="btn btn-sm btn-default">Parse</button>
				</div>
				<div ng-hide="m.parsedWorkbook === undefined" class="form-inline">
					<input type="number" ng-model="parseCfg.maxScaleValue" class="form-control input-sm" />
					<input type="number" ng-model="parseCfg.mainCatCol" class="form-control input-sm" />
					<input type="number" ng-model="parseCfg.subCatCol" class="form-control input-sm" />
					<input type="number" ng-model="parseCfg.questionCol" class="form-control input-sm" />
					<input type="number" ng-model="parseCfg.detailCol" class="form-control input-sm" />
					<select multiple ng-model="parseCfg.valueCols" class="form-control input-sm">
						<option value="7">7</option>
						<option value="9">9</option>
						<option value="11">11</option>
						<option value="13">13</option>
						<option value="15">15</option>
					</select>
					<button ng-click="m.parseMainCats(parseCfg)" class="btn btn-sm btn-default">Render</button>
				</div>
			</div>
			<table id="config-table" class="table table-condensed text-right">
				<tr>
					<td class="form-inline">
						Diagram width: <div class="input-group"><input type="number" class="form-control input-sm" ng-model="m.cfgR1.w" min="100" step="10" /> <div class="input-group-addon">px</div></div>
					</td>
					<td class="form-inline">
						Diagram height: <div class="input-group"><input type="number" class="form-control input-sm" ng-model="m.cfgR1.h" min="100" step="10" /> <div class="input-group-addon">px</div></div>
					</td>
				</tr>
				<tr>
					<td class="form-inline">
						Turn text threshold: <div class="input-group"><input type="number" class="form-control input-sm" ng-model="m.cfgR1.turnTextThresholds[0]" min="0" max="1" step="0.05" /> <div class="input-group-addon">/1</div></div> - <div class="input-group"><input type="number" class="form-control input-sm" ng-model="m.cfgR1.turnTextThresholds[1]" min="0" max="1" step="0.05" /> <div class="input-group-addon">/1</div></div>
					</td>
					<td class="form-inline">
						Background opacity: <div class="input-group"><input type="number" class="form-control input-sm" ng-model="m.cfgR1.backgroundOpacity" min="0" max="1" step="0.05" /> <div class="input-group-addon">/1</div></div>
					</td>
				</tr>
				<tr>
					<td class="form-inline">
						Main category letter spacing: <div class="input-group"><input type="number" class="form-control input-sm" ng-model="m.cfgR1.mainCatLetterSpacing" min="0" step="1" /> <div class="input-group-addon">x</div></div>
					</td>
					<td class="form-inline">
						Center dot size: <div class="input-group"><input type="number" class="form-control input-sm" ng-model="m.cfgR1.centerDotSize" min="0" max="1" step="0.01" /> <div class="input-group-addon">/1</div></div>
					</td>
				</tr>
				<tr>
					<td class="form-inline">
						Main category font size: <div class="input-group"><input type="number" class="form-control input-sm" ng-model="m.cfgR1.mainCatFontSize" min="0" max="1" step="0.01" /> <div class="input-group-addon">/1</div></div>
					</td>
					<td class="form-inline">
						Subcategory font size: <div class="input-group"><input type="number" class="form-control input-sm" ng-model="m.cfgR1.subCatFontSize" min="0" max="1" step="0.01" /> <div class="input-group-addon">/1</div></div>
					</td>
				</tr>
				<tr>
					<td class="form-inline">
						Question font size: <div class="input-group"><input type="number" class="form-control input-sm" ng-model="m.cfgR1.questionFontSize" min="0" max="1" step="0.01" /> <div class="input-group-addon">/1</div></div>
					</td>
					<td class="form-inline">
						Tooltip font size: <div class="input-group"><input type="number" class="form-control input-sm" ng-model="m.cfgR1.tooltipFontSize" min="0" step="1" /> <div class="input-group-addon">x</div></div>
					</td>
				</tr>
				<tr>
					<td class="form-inline">
						Legend dots size: <div class="input-group"><input type="number" class="form-control input-sm" ng-model="m.cfgR1.legendDotPct" min="0" max="1" step="0.001" /> <div class="input-group-addon">/1</div></div>
					</td>
					<td class="form-inline">
						Main category divider width: <div class="input-group"><input type="number" class="form-control input-sm" ng-model="m.cfgR1.mainCatLineWidth" min="0" step="0.5" /> <div class="input-group-addon">x</div></div>
					</td>
				</tr>
				<tr>
					<td class="form-inline">
						Subcategory divider width: <div class="input-group"><input type="number" class="form-control input-sm" ng-model="m.cfgR1.subCatLineWidth" min="0" step="0.5" /> <div class="input-group-addon">x</div></div>
					</td>
					<td class="form-inline">
						Question divider width: <div class="input-group"><input type="number" class="form-control input-sm" ng-model="m.cfgR1.questionLineWidth" min="0" step="0.5" /> <div class="input-group-addon">x</div></div>
					</td>
				</tr>
				<tr>
					<td class="form-inline">
						Min-max color: <input colorpicker="rgba" type="text" class="form-control input-sm" ng-model="m.cfgR2.minMaxColor" />
					</td>
					<td class="form-inline">
						Average line color: <input colorpicker="rgba" type="text" class="form-control input-sm" ng-model="m.cfgR2.avgLineColor" />
					</td>
				</tr>
				<tr>
					<td class="form-inline text-center" colspan="2">
						<button class="btn btn-sm btn-primary" ng-click="m.render()">Rerender</button>
						<button class="btn btn-sm btn-default" ng-click="m.reset()">Reset to default</button>
					</td>
				</tr>
			</table>

			<ul id="tree1">
				<li ng-repeat="mainCat in m.mainCats" ng-init="mcIdx = $index + 1">
					<div class="form-inline">
						<em>{{mcIdx}}.</em>
						<input type="text" ng-model="mainCat.mainCat" class="form-control input-sm" />
						Color: <input colorpicker="rgba" type="text" class="form-control input-sm" ng-model="mainCat.color" />
						Value(s): {{mainCat.value | limitTo: 6}}
					</div>
					<ul>
						<li ng-repeat="subCat in mainCat.subCats" ng-init="scIdx = $index + 1">
							<div class="form-inline">
								<em>{{mcIdx}}.{{scIdx}}</em>
								<textarea ng-model="subCat.title" class="form-control input-sm"></textarea>
								Color: <input colorpicker="rgba" type="text" class="form-control input-sm" ng-model="subCat.color" />
								Value(s): {{subCat.values}}
							</div>
							<ul>
								<li ng-repeat="question in subCat.questions" ng-init="qIdx = $index + 1">
									<div class="form-inline">
										<em>{{mcIdx}}.{{scIdx}}.{{qIdx}}</em>
										<textarea ng-model="question.title" class="form-control input-sm"></textarea>
										Color: <input colorpicker="rgba" type="text" class="form-control input-sm" ng-model="question.color" />
										Value(s): {{question.values}}
									</div>
									<ul>
										<li ng-repeat="detail in question.details" ng-init="dIdx = $index + 1">
											<div class="form-inline">
												<em>{{mcIdx}}.{{scIdx}}.{{qIdx}}.{{dIdx}}</em>
												<input ng-model="detail.title" class="form-control input-sm" />
												Value(s): {{detail.values}}
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div style="height:100%;overflow:scroll;">
			<button id="download-svg" ng-click="m.downloadSVG('#surveyRadar1')" ng-show="m.mainCats !== undefined" class="btn btn-default">Download as SVG</button>
			<div id="surveyRadar1" class="pull-left"></div>
			<div id="surveyRadar2"></div>
			<div id="tooltipBin" style="height:0px;"></div>
		</div>
	</div>
	<script type="application/javascript" src="./node_modules/xlsx/dist/xlsx.core.min.js"></script>
	<script type="application/javascript" src="./node_modules/d3/d3.min.js"></script>
    <script type="application/javascript" src="./node_modules/angular/angular.min.js"></script>
    <script type="application/javascript" src="./node_modules/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
    <script type="application/javascript" src="./dist/client.js"></script>
  </body>
</html>